.box-lista{
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo-lista{
    width: 75%;
    color: white;
}

.grid-cards{
    padding-top: 1rem;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 25px;
    grid-row-gap: 30px;
}